[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[svn-remote "svn"]
	url = https://zfreebasic.googlecode.com/svn
	fetch = trunk:refs/remotes/trunk
	branches = branches/*:refs/remotes/*
	tags = tags/*:refs/remotes/tags/*
[svn]
	authorsfile = .gitauthors

[user]
	name = xiaoranzzz
	email = xiaoranzzz@gmail.com
[remote "github"]
	url = git@github.com:eotect/freebasic.git
	fetch = +refs/heads/*:refs/remotes/github/*
[remote "gitorious"]
	url = git@gitorious.org:eotect/freebasic.git
	fetch = +refs/heads/*:refs/remotes/gitorious/*
